Informe/IdeasInforme.txt
Informe/build/Beaglebone_vinaperezAlvaro.aux
Informe/build/Beaglebone_vinaperezAlvaro.fdb_latexmk
Informe/build/Beaglebone_vinaperezAlvaro.fls
Informe/build/Beaglebone_vinaperezAlvaro.log
Informe/build/Beaglebone_vinaperezAlvaro.synctex.gz
Informe/build/Beaglebone_vinaperezAlvaro.toc
